<%
include partials/header
%> 
<h1>
    <%=campground.name %>
</h1>


<img class="img img-fluid" src="<%= campground.image %>" alt="responsive image">
<p>
    <%=campground.description %>
</p>





<%
include partials/footer
%>
